html :where(.wp-block) {
	// max-width: 100% !important;
	font-family: 'Inter', sans-serif;
}

.block-editor-block-list__layout {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.wp-block {
	max-width: 1320px;

	&[data-align="wide"] {
		max-width: 100%;
	}
}

.edit-post-visual-editor__post-title-wrapper {
	max-width: 1320px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: var(--wp--style--block-gap);
	h1 {
		border-bottom: 1px solid $dark-secondary;
	}
}

.is-root-container > .wp-block {
	margin: 60px auto;
}