a, a:visited {
	text-decoration: none;
	color: $dark-secondary;
}

a:hover, a:active, a:focus {
    color: $black;
}

a.btn, .btn {
	border-radius: 1000px;
	color: $white;
	background-color: $black;
	padding: 8px 30px;
	text-align: center;


	&.btn-alt {
		color: $black;
		background-color: $white;
	}
}

.btn-close,
.navbar-toggler {
	outline: none;
    border: none;
	&:focus {
		box-shadow: none;
	}
}